{% extends "core/base.html" %}

{% load static %}


{% block javascript %}
    
    <script src="{% static 'core/js/formularioJs/jquery.validate.min.js'%}"></script>
    <script src="{% static 'core/js/formularioJs/messages_es.min.js'%}"></script>
    <script src="{% static 'core/js/formularioJs/onlyLetter.js'%}"></script>
    <script src="{% static 'core/js/formularioJs/validaciones2.js'%}"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{% endblock javascript %}


{% block contenido %}
    
<!--··········Formulario···················-->
<div class="row">
    
    <div class="col-md-3"></div>
    <div class="col-md-9">

        <form action="" method="POST" id="mascotaFormulario" enctype="multipart/form-data">
            <br><br>

            {% csrf_token %}
            
            <div class="col">

                <label for="">Nombre Mascota</label>
                <input type="text" name="txtMascota" id="txtMascota" placeholder="Nombre" class="form-control col-9" onkeypress="return soloLetras(event)">
                <br><br>

                <label for="">Raza</label>
                    <select name="cboRaza" id="cboRaza" class="form-control col-9">
                        <option value="">Seleccionar</option>
                        {% for r in razas %}
                        <option value="{{ r.id }}">{{ r.raza }}</option>
                        {% endfor %}
                    </select>
                <br><br>

                <label for="">Genero</label>
                    <select name="cboGenero" id="cboGenero" class="form-control col-9">
                        <option value="">Seleccionar</option>
                        {% for g in generos %}
                        <option value="{{ g.id }}">{{ g.genero_formato }}</option>
                        {% endfor %}
                    </select>
                <br><br>

                <label for="">Fecha de Ingreso</label>
                <input type="date" name="fechaIngreso" id="fechaIngreso" class="form-control col-9">
                <br><br>

                <label  for="">Fecha Nacimiento</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control col-9">
                <br><br>

                <label  for="">Imagen</label>
                <input type="file" name="imagen" id="imagen" class="form-control col-9">
                <br><br>

                <label  for="">Estado</label>
                    <select name="cboEstado" id="cboEstado" class="form-control col-9">
                        <option value="">Seleccionar</option>
                        {% for e in estados %}
                        <option value="{{ e.id }}">{{ e.estado }}</option>
                        {% endfor %}
                    </select>
                <br><br>

                <input class="btn btn-info" type="submit" name="btnGuardar" id="btnGuardar" value="Guardar">
                <br>
                <br>

            </div>
        </form>

        <h3>{{ mensaje }}</h3>

    </div>
</div>
<!--·······································-->
    {% include "core/galeria.html" %}

{% endblock contenido %}